<ion-view title="Home " id="page4">
  <ion-content padding="true" style="background: url(img/7JEro50nSSMeKJN4X6en_land_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="home-form1" class="list">
      <ion-list id="home-list2">
        <label class="item item-input" id="home-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="home-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <label class="item item-select">
        <span class="input-label" font-size:30px="">Location</span>
        <select>
          <option>Tirunelveli</option>
          <option>Thiruvannamalai</option>
          <option>Kovilpati</option>
        </select>
      </label>
      <div class="spacer" style="height: 40px;"></div>
      <button id="home-button1" style="border-radius:20px 20px 20px 20px;" class="button button-balanced button-block">Log in</button>
      <a href-inappbrowser="/signup" id="home-button2" style="color:#F8F2F5;" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>